# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.env
.venv/
env/
venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static & Media
/static/
/staticfiles/
/media/

# Celery
celerybeat-schedule*
celerybeat.pid

# VSCode / PyCharm
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Docker overrides
docker-compose.override.yml

# Logs / backups
logs/
*.sql
gunicorn_access_logs
gunicorn_error_logs
